{
  "extends": "airbnb-base",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "es6": true,
      "experimentalObjectRestSpread": true
    },
    "codeFrame": false
  },
  "rules": {
    "no-lone-blocks": 0,
    "prefer-destructuring": 0,
    "no-plusplus": 0,
    "max-len": 0,
  }
}
